[readtest]
blocksize={{ bs }}
filename=/dev/disk/by-id/scsi-{{ disk_name }}
rw=randread
direct=1
buffered=0
ioengine=libaio
iodepth=32
size={{ size }}

[writetest]
blocksize={{ bs }}
filename=/dev/disk/by-id/scsi-{{ disk_name }}
rw=randwrite
direct=1
buffered=0
ioengine=libaio
iodepth=32
size={{ size }}

