[DEFAULT]

#
# From cinder
#
rpc_backend = rabbit
auth_strategy = keystone
my_ip = {{ my_ip }}
verbose = true
glance_host = {{ cinder_glance_ip }}
enabled_backends = fast-1,medium-1,slow-1

[oslo_messaging_rabbit]

rabbit_host = {{ controller_ip }}
rabbit_userid = {{ cinder_rabbitmq_user }}
rabbit_password = {{ cinder_rabbitmq_password }}

[keystone_authtoken]

#
# From keystonemiddleware.auth_token
#

# Complete public Identity API endpoint. (string value)
auth_uri = http://{{ controller_ip }}:5000/v2.0
auth_url = http://{{ controller_ip }}:35357/
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = {{ cinder_auth_username }}
password = {{ cinder_auth_password }}

[oslo_concurrency]

#
# From oslo.concurrency
#

# Enables or disables inter-process locks. (boolean value)
# Deprecated group/name - [DEFAULT]/disable_process_locking
#disable_process_locking = false

# Directory to use for lock files.  For security, the specified directory
# should only be writable by the user running the processes that need locking.
# Defaults to environment variable OSLO_LOCK_PATH. If external locks are used,
# a lock path must be set. (string value)
# Deprecated group/name - [DEFAULT]/lock_path
lock_path = /var/lock/cinder
scheduler_driver = cinder.scheduler.filter_scheduler.FilterScheduler

[database]
connection = {{ cinder_database_url }}

[fast-1]

volume_group=fastgroup
volume_driver=cinder.volume.drivers.lvm.LVMVolumeDriver
volume_backend_name=LVM_iSCSI_fast
iscsi_protocol = iscsi
iscsi_helper = tgtadm

[medium-1]

volume_group=mediumgroup
volume_driver=cinder.volume.drivers.lvm.LVMVolumeDriver
volume_backend_name=LVM_iSCSI_medium
iscsi_protocol = iscsi
iscsi_helper = tgtadm

[slow-1]

volume_group=slowgroup
volume_driver=cinder.volume.drivers.lvm.LVMVolumeDriver
volume_backend_name=LVM_iSCSI_slow
iscsi_protocol = iscsi
iscsi_helper = tgtadm

[keymgr]
encryption_auth_url=http://{{ controller_ip }}:5000/v3
